.board{
	position: relative;
	width: 325px;
	height: 325px;
	margin: 0 auto;
	margin-top: 80px;
	border-radius: 4px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.board button{
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 4px;
	background: #008cba;
	
}
.number{
	cursor: pointer;
	font: bold 36px/80px Arial;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}

.scramble,
.solve {
	padding: 12px 24px;
	text-align: center;
	color: #fff;
	background: linear-gradient(to bottom, #F36760 0%, #EF348F 100%);
	margin: 20px 20px 0px 20px;
	border: 0;
	font-size: 16px;
	border-radius: 4px;
}
